/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: h2sl(23, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px 
font-family: 'Red Hat Display', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 400px;
    font-family: 'Red Hat Display', sans-serif;
    height: 400px;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%); 
    position: relative;
    text-align: center;
}

p{
    font-size: 16px;
    line-height: 1.6;
    color: hsl(224, 23%, 55%);
}

.container{
    max-width: 500px;
    background-color: white;
    margin: 75px 40px 10px 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
    border-radius: 15px;
    overflow: hidden;   
}
.container img.header{
    width: 100%;
}
.container .summary-text{
    margin: 20px 100px;
}

.container h2{
    color:hsl(223, 47%, 23%);
    padding-bottom: 20px;
}

.container .pricing-box{
    background-color:  hsl(225, 100%, 98%);
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.pricing-box article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-box img{
    margin-right: 20px;
}

.change{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: hsl(245, 75%, 52%);
    text-decoration:underline;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;
}

.payment{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cancel{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;

}

.change:hover{
    opacity: .7;
}
.payment:hover{
    opacity: .7;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
}
.container{}
.container{}




.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

