/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: h2sl(23, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px 
font-family: 'Red Hat Display', sans-serif;*/


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display',
        sans-serif;
    min-height: 75vh;
    background-image: url(https://www.digitshack.com/codepen/mentor1/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 375px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

}

h2{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 20px;
}

p{
    color: hsl(224, 23%, 55%);
    margin-bottom: 25px;
}

.text{
    margin: 20px 50px;
}

.pricing-box{
    background-color: hsl(225, 100%, 98%);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.pricing-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-left div {
    margin-left: 20px;
}

.pricing-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.change{
    font-size: 14px;
    color: #8a8a8a;
    cursor: pointer;
}

.payment{
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    font-size: 16px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;
    
 }

.change:hover{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}


.payment:hover {
    background-color: hsl(224, 23%, 55%);
}

.cancel{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
    cursor: pointer;
    padding-bottom: 10px;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}
footer{
    margin-top: auto;
}

.attribution { font-size: 11px; text-align: center;}

.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 375px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        font-size: 14px;
    }
    .container{
        width: 50%;
    }   
        .text{
            font-size: 23px;
        }
    
        .pricing-box{
            padding: 12px;
        }
    
        .plan-box-left div {
            margin-left: 10px;
        }
    
        a.proceed-btn,
        a.cancel-btn,
        .plan-box a {
            font-size: 13px;
        }
    
        .text-content {
            padding: 9% 7%;
        }
    }